<header class="content">
  <nav class="main">
    <button class="menuButton">
      <svg id="menuClosed" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="white" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
    <ul class="desktop">
      {% for link in linklists.main-menu.links %}
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}      
    </ul>
    <div id="logoContainer">
      <a href="http://sharklabz.shop/pages/company" id="logo">
        {{ 'logo.png' | asset_img_url: 'medium' | img_tag: 'Shark Labz Logo' }}
      </a>
    </div>
    <ul class="desktop">
      {% for link in linklists.company-menu.links %}
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div id="area"></div>
  </nav>
  <nav class="mobile">
    <ul>
      {% for link in linklists.mobile-menu.links %}
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>