<div class="content firstImpression">
  <div id="firstImpressionImg">
    {{ 'raspberry (optimized).png' | asset_img_url: 'small' | img_tag: 'blue raspberry one' }}
    {{ 'raspberry (optimized).png' | asset_img_url: 'small' | img_tag: 'blue raspberry two' }}
    {{ 'raspberry (optimized).png' | asset_img_url: 'small' | img_tag: 'blue raspberry three' }}
    {{ 'raspberry (optimized).png' | asset_img_url: 'small' | img_tag: 'blue raspberry four' }}
    {{ 'raspberry (optimized).png' | asset_img_url: 'small' | img_tag: 'blue raspberry five' }}
    {{ 'liquidSplash (optimized).png' | asset_img_url: '1189x892' | img_tag: 'Splash of blue preworkout liquid' }}
    {{ 'Killer Instinct V3 Mockup (optimized).png' | asset_img_url: '2000x2000' | img_tag: 'floating container of Killer Instinct' }}
  </div>
  <h1 id="firstImpressionHeader">The Apex Predator of Preworkouts</h1>
</div>

