<div class="specialLoad productDetailsWrapper">
<div class="bottomBuyButton">
  <div id='product-component-1692036676256'></div>
  {{ 'addToCart.js' | asset_url | script_tag }}
</div>
  <div class="container">
    <!--<div class="decorationCircle"></div>-->
    <div class="productDetails">
      <div class="productBuy specialLoad">
        <h2>{{ all_products['killer-instinct-pre-workout'].title }}&#8482;</h2>
        <label class="priceLabel">{{ all_products['killer-instinct-pre-workout'].price | money }}</label>
        <a
          href="#supplements"
        >
          Show Me the Label
        </a>
      </div>
      <div class="content productDetailsImg">
        {{ 'label360 (optimized).gif' | asset_img_url: '2000x2000' | img_tag: 'floating container of Killer Instinct' }}
      </div>

      
      <div class="productInfo">
        <ul id="list">
          <li>
            <div class="icon-image">
              {{ 'arm.png' | asset_img_url: '200x200' | img_tag: 'Arm Flexing Icon' }}
            </div>
            <div>
              <h3>Maximum Muscle Pump</h3>
              <p>Experience heightened vascularity and muscle fullness through optimized vasodilation and hydration. Achieve a powerful pump with improved blood flow*</p>
            </div>
          </li>
          <li>
            <div class="icon-image">
              {{ 'bolt.png' | asset_img_url: '200x200' | img_tag: 'Energy Bolt Icon' }}
            </div>
            <div>
              <h3>Feel Energized and Awake</h3>
              <p>Feel a boost of energy to last your entire workout. Enjoy a smooth descent without a crash. There’s nothing worse than starting a workout feeling tired*</p>
            </div>
          </li>
          <li>
            <div class="icon-image">
              {{ 'weight.png' | asset_img_url: '200x200' | img_tag: 'Dumbell Icon' }}
            </div>
            <div>
              <h3>Optimize Performance</h3>
              <p>Optimize your performance with improved vasodilation and hydration. Achieve more reps, push your limits, and hit PRs*</p>
            </div>
          </li>
          <li>
            <div class="icon-image">
              {{ 'brain.png' | asset_img_url: '200x200' | img_tag: 'Brain Icon' }}
            </div>
            <div>
              <h3>Focus and Mood</h3>
              <p>Experience an uplift in mood and heightened focus. Improved cognitive function ensures you stay fully engaged in the moment*</p>
            </div>
          </li>
        </ul>
      </div>


      
    </div>
    <div class="productInfoDesktop">
        <ul id="list">
          <div id="firstDiv">
            <li>
              <div class="icon-image">
                {{ 'arm.png' | asset_img_url: '200x200' | img_tag: 'Arm Flexing Icon' }}
              </div>
              <div>
                <h3>Maximum Muscle Pump</h3>
                <p>Experience heightened vascularity and muscle fullness through optimized vasodilation and hydration. Achieve a powerful pump with improved blood flow*</p>
              </div>
            </li>
            <li>
              <div class="icon-image">
                {{ 'bolt.png' | asset_img_url: '200x200' | img_tag: 'Energy Bolt Icon' }}
              </div>
              <div>
                <h3>Feel Energized and Awake</h3>
                <p>Feel a boost of energy to last your entire workout. Enjoy a smooth descent without a crash. There’s nothing worse than starting a workout feeling tired*</p>
              </div>
            </li>
          </div>
          <div id="secondDiv">
            <li>
              <div class="icon-image">
                {{ 'weight.png' | asset_img_url: '200x200' | img_tag: 'Dumbell Icon' }}
              </div>
              <div>
                <h3>Optimize Performance</h3>
                <p>Optimize your performance with improved vasodilation and hydration. Achieve more reps, push your limits, and hit PRs*</p>
              </div>
            </li>
            <li>
              <div class="icon-image">
                {{ 'brain.png' | asset_img_url: '200x200' | img_tag: 'Brain Icon' }}
              </div>
              <div>
                <h3>Focus and Mood</h3>
                <p>Experience an uplift in mood and heightened focus. Improved cognitive function ensures you stay fully engaged in the moment*</p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    <div id="supplements" class="content supplementFactsPage">
      <div class="titleAndImage">
        <h1>The Formula</h1>
        <div class="imageAndButtons">
        <div class="supplementFacts">
          <h2>Supplement Facts</h2>
          <p>Serving Size: 12.06g (1 Scoop) | 24.12g (2 Scoops)</p>
          <p>Servings Per Container: 20-40</p>
          <div class="divider"></div>
          <table>
            <tr>
            <th class="ingredientsTitle">Ingredient</th>
            <th class="scoopTitle">Amount Per 1 Scoop</th>
            <th class="scoopsTitle">Amount Per 2 Scoops</th>
          </tr>
          <tr>
            <td class="pumpIngredient">L-Citrulline</td>
            <td class="pumpIngredient">5000mg</td>
            <td class="pumpIngredient">10000mg</td>
          </tr>
          <tr>
            <td class="focusIngredient">L-Tyrosine</td>
            <td class="focusIngredient">2500mg</td>
            <td class="focusIngredient">5000mg</td>
          </tr>
          <tr>
            <td class="pumpIngredient">GlycerSize&trade;</td>
            <td class="pumpIngredient">1000mg</td>
            <td class="pumpIngredient">2000mg</td>
          </tr>
          <tr>
            <td class="pumpIngredient">Agmatine Sulfate</td>
            <td class="pumpIngredient">1000mg</td>
            <td class="pumpIngredient">2000mg</td>
          </tr>
          <tr>
            <td class="focusIngredient">Alpha GPC 50%</td>
            <td class="focusIngredient">300mg</td>
            <td class="focusIngredient">600mg</td>
          </tr>
          <tr>
            <td class="focusIngredient">L-Theanine</td>
            <td class="focusIngredient">100mg</td>
            <td class="focusIngredient">200mg</td>
          </tr>
          <tr>
            <td class="energyIngredient">Caffeine Anhydrous</td>
            <td class="energyIngredient">100mg</td>
            <td class="energyIngredient">200mg</td>
          </tr>
          <tr>
            <td class="pumpIngredient energyIngredient">Theobromine 20%</td>
            <td class="pumpIngredient energyIngredient">50mg</td>
            <td class="pumpIngredient energyIngredient">100mg</td>
          </tr>
          <tr>
            <td class="energyIngredient">Infinergy&trade;</td>
            <td class="energyIngredient">25mg</td>
            <td class="energyIngredient">50mg</td>
          </tr>
          </table>
          <div class="divider"></div>
          <p><b>Other Ingredients:</b> Malic Acid, Silicone Dioxide, N&A Flavors, Calcium Silicate, Sucralose, Acesulfame, Potassium, FD&C Blue 1</p>
        </div>
        <div class="supplementInfo">
          <dl class="supplementInfoList">
            <dt>
              <button  aria-expanded="false" id="pumpButton" class="supplementButtons" onclick="expandInfo(1)">
                <span>Pump</span>
                <div class="arrowPumpButton ingredientsArrows">
                  <span id="pumpLineOne">
                  </span>
                  <span id="pumpLineTwo">
                  </span>
                </div>
              </button>
            </dt>
            <dd id="pumpInfo">
<p>Research suggests that L-citrulline supplementation enhances nitric oxide production, leading to improved blood flow and oxygen delivery to muscles, thereby improving exercise performance and reducing fatigue during resistance training. It's been noted that a dose of 10 grams of L-citrulline can maximize benefits for exercise performance and muscle pumps, showing significant improvements compared to lower doses or placebos. Additionally, studies have shown that a single 10-gram dose increased nitric oxide production and improved blood flow in healthy adults.*</p>
<p>Glycerol supplementation may enhance the muscle pump during weightlifting sessions by increasing fluid retention and promoting muscle volumization. It has been observed that glycerol supplementation can improve the sensation of muscle fullness and pump intensity, potentially by aiding in maintaining hydration levels and supporting blood flow to the muscles.*</p>
<p>Studies suggest that agmatine sulfate may increase nitric oxide production, leading to improved blood flow and vasodilation during resistance training. This enhanced blood flow can contribute to a more pronounced muscle pump sensation, improving muscle fullness and vascularity during workouts. Additionally, agmatine sulfate may also have neuroprotective and analgesic effects, potentially aiding in reducing discomfort and enhancing overall workout performance.*</p>
<p>Theobromine, found in cocoa beans, also potentially enhances the pump during exercise by increasing blood flow to muscles through its vasodilatory effects.*</p>
<p>Individual responses vary, so consulting a professional before starting any new supplement regimen is advisable.</p>
            </dd>
            <dt>
              <button id="focusButton" class="supplementButtons" onclick="expandInfo(2)">
                <span>Focus</span>
                <div class="arrowFocusButton ingredientsArrows">
                  <span id="focusLineOne">
                  </span>
                  <span id="focusLineTwo">
                  </span>
                </div>
              </button>
            </dt>
            <dd id="focusInfo">
<p>Studies have consistently demonstrated the cognitive-enhancing effects of L-tyrosine supplementation on mood and focus. Research indicates that L-tyrosine can positively impact neurotransmitter levels, particularly dopamine and norepinephrine, which are crucial for mood regulation and cognitive function. A dosage of 5 grams of L-tyrosine is often considered optimal for supporting cognitive function and mental performance during weightlifting.*</p>
<p>Alpha-GPC (Alpha-Glycerophosphocholine) is a compound that contains choline, a precursor to the neurotransmitter acetylcholine. Acetylcholine plays a vital role in cognitive function, including memory, learning, and muscle contractions. Clinical trials investigating alpha-GPC supplementation for cognitive enhancement and sports performance have frequently utilized doses around 600mg with positive results. This dosage has been associated with improvements in reaction time, memory retrieval, and physical performance measures in various populations.*</p>
<p>L-theanine is a naturally occurring amino acid found primarily in tea leaves, particularly in green tea. It has been shown to improve attention, focus, and reaction time, potentially enhancing cognitive function and mental performance. Furthermore, L-theanine has been found to mitigate the negative effects of caffeine, such as jitteriness and anxiety, while preserving its cognitive benefits. This synergy between L-theanine and caffeine promotes alertness and concentration without the side effects associated with high caffeine intake.*</p>
<p><p>Individual responses vary, so consulting a professional before starting any new supplement regimen is advisable.</p></p>
            </dd>
            <dt>
              <button id="energyButton" class="supplementButtons" onclick="expandInfo(3)">
                <span>Energy</span>
                <div class="arrowEnergyButton ingredientsArrows">
                  <span id="energyLineOne">
                  </span>
                  <span id="energyLineTwo">
                  </span>
                </div>
              </button>
            </dt>
            <dd id="energyInfo">
<p>Caffeine benefits weightlifting by increasing energy, endurance, strength, and focus. It enhances fat burning and helps maintain intensity during workouts. However, moderation is key to avoid side effects like jitteriness or disrupted sleep. 200mg of caffeine is a common and effective dosage for enhancing performance in weightlifting. It provides a moderate boost in energy, endurance, and focus without increasing the risk of adverse effects.*</p>
<p>Infinergy (di-caffeine malate) is a form of caffeine that contains malic acid, which helps to slow down the absorption of caffeine, resulting in a more gradual and sustained release of energy. This can help prevent the sudden energy crashes sometimes associated with traditional caffeine supplementation. By combining 200mg of caffeine with 50mg of di-caffeine malate, you can enjoy the immediate benefits of caffeine for energy and focus, while also experiencing a more prolonged effect to support your performance during weightlifting sessions.*</p>
<p>Theobromine, found in cocoa beans, offers mild stimulant effects similar to caffeine. It can boost alertness, energy, and mood during weightlifting. Additionally, it promotes vasodilation, enhancing blood flow for better nutrient delivery to muscles and aiding recovery. With antioxidant properties and potential bronchodilation, theobromine supports overall health and exercise performance, making it a valuable addition to pre-workout supplements.*</p>
<p><p>Individual responses vary, so consulting a professional before starting any new supplement regimen is advisable.</p></p>
            </dd>
          </dl>
        </div>
        </div>
      </div>
    </div>
    <div class="descriptionContainer">
      <div>
      <h3 class="slogan">Need a Loaded, Quality Pre-Workout? You're in the Right Place</h3>
      {{ all_products['killer-instinct-pre-workout'].description }}
      </div>
      <p id="disclaimer">
        These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.*
      </p>
    </div>
    <div 
      id="shopify-product-reviews" 
      data-id="{{all_products['killer-instinct-pre-workout'].id}}"
      class="content reviews"
    >
      {{ all_products['killer-instinct-pre-workout'].metafields.spr.reviews }}
    </div>
  </div>
  <div class="bottomBar">
    <ul>
      <li class="pump">Pump</li>
      <li>Focus</li>
      <li class="energy">Energy</li>
    </ul>
  </div>
</div>
